body {
  margin: 30px auto;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #611aa3;
}

.currentDetails {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.weatherAppWrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}
.weatherApp {
  border: 1px solid #885ef1;
  border-radius: 5px;
  margin: 30px auto;
  padding: 20px;
}

.description {
  text-transform: capitalize;
}
.currentTemp {
  font-size: 24px;
}
.btn {
  max-width: 80px;
}
.weatherTemp .active:hover {
  text-decoration: none;
}
.weatherTemp .active {
  color: black;
  cursor: default;
}
